 @import "@/assets/scss/foundation/base.scss";
@import "@/assets/scss/foundation/media.scss";

@mixin btnStructure-block() {
    @include text-button;
    display:block;
    width:100%;
    text-decoration:none;
    padding:15px 0px;
    border-radius:3px;
    text-align:center;
    height:60px;
    cursor:pointer;
    &:hover,&:active {
        opacity:.9;
        text-decoration:none;
    }
}



@mixin btnStructure-inline($width) {
    @include text-button;
    display:inline-block;
    width:$width;
    text-decoration:none;
    padding:15px 0;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
    &:hover,&:active {
        opacity:.9;
        text-decoration:none;
    }
}

@mixin btnColor-primary {
    background-color:$clr-primary;;
    color:$clr-white;
    &:hover {
        color:$clr-white;
    }
}

@mixin btnColor-white {
    background-color:$clr-white;
    color:$clr-primary;
}


.c-button {
    @include btnStructure-inline(270px);
    @include btnColor-primary;

    @include mobile {
        @include btnStructure-inline(260px);
        font-size: 16px;
        padding:12px 0;
    }
}

.c-headerButton {
    @include btnStructure-inline(132px);
    @include btnColor-white();
    padding:25px 0;
    border-radius: 0;
    margin-right: 0;
    @include mobile {
        display: none;
    }
}
