@import "@/assets/scss/foundation/base.scss";
@import "@/assets/scss/foundation/media.scss";

@mixin btnStructure-block() {
  @include text-button;

  display: block;
  width: 100%;
  height: 60px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;

  &:hover,
  &:active {
    text-decoration: none;
    opacity: 0.9;
  }
}

@mixin btnStructure-inline($width) {
  @include text-button;

  display: inline-block;
  width: $width;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;

  &:hover,
  &:active {
    text-decoration: none;
    opacity: 0.9;
  }
}

@mixin btnColor-primary {
  color: $clr-white;
  background-color: $clr-primary;

  &:hover {
    color: $clr-white;
  }
}

@mixin btnColor-white {
  color: $clr-primary;
  background-color: $clr-white;
}

.c-button {
  @include btnStructure-inline(270px);
  @include btnColor-primary;

  @include mobile {
    @include btnStructure-inline(260px);

    padding: 12px 0;
    font-size: 16px;
  }
}

.c-headerButton {
  @include btnStructure-inline(132px);
  @include btnColor-white();

  padding: 25px 0;
  margin-right: 0;
  border-radius: 0;

  @include mobile {
    display: none;
  }
}
