@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.section-title {
  @apply font-normal text-black text-5xl;
  font-family: Yu Mincho Medium,YuMincho,serif;
  line-height:110px;
}




/* large button class */
 @responsive {
   .btn-large-pc {
    width: 800px;
    border: 1px solid #c3504f;
    box-shadow: 7px 7px 0 0 #c3504f;
    transition: all 0.3s ease-in;
    background-color: #fff;
    padding:0;
   }

   .btn-large-sp {
     width:100%;
     background-color:#c3504f;
     padding:15px 20px;
   }

   .btn-large-pcImg {
      width: 30%;
      height: 140px;
   }

   .btn-large-spImg {
     width:120px;
     height:80px;
   }
@variants hover {
  .btn-large-pressed {
    transform: translate(4px, 4px);
    -webkit-box-shadow: 3px 3px 0 0 #c3504f;
    box-shadow: 3px 3px 0 0 #c3504f;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-in-out;
  }
}
 }